.generic-content-container {
    p {
        line-height: 1.65;
        font-size: 1.125rem; /* to convert from px to rem divide px number by 16.  16 is the usual number on most devices. */
        margin: 1.8rem 0;
        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a {
        font-weight: 700; /* 400 is considered normal weight */
    }
}