.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: background-color .3s ease-out; /* fade in and ease out the color */
    
    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }

    @mixin atMedium {
        position: fixed;
        background-color: rgba($mainBlue, .3);

        &--dark {
            background-color: rgba(23, 51,72, .85);
        }
    }

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }
    &__logo {
        top: 0;
        position: absolute;
        /* the following two lines move the logo to the center and then back half it's own width - centered! */
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transition: transform .3s ease-out;
        transform-origin: 50% 0; /* move the center of the logo to the center of it's new size - no gap at top */
        background-color: $mainBlue;
        padding: 25px 36px;

        @mixin atMedium {
            /* now to undo the logo centering on large screens! */
            left: auto;
            transform: translateX(0);
            .site-header--dark  & {
                transform: scale(.57);
            }
        }
    }
    &__logo__graphic {
        text-indent: -9999px; /* this allows text in the logo for SEO and searching but it's not seen */
    }

    &__menu-icon {
        width: 20px;
        height: 19px;       
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }    

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px); /* off by one pixel, so bump it. */ 
        }
    }

&__menu-content {
    /*display: none; we'll make it a transition*/
    opacity: 0; /* fully off */
    transform: scale(1.2);
    transition: all .3s ease-out; /*fade in and out */
    /*  since this menu is hidden rather than removed with display none, 
        we'll need to move it beneath all the other object on 
        the screen so it can't be clicked by the user! Next two lines */
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;
    @mixin atMedium {
        opacity: 1; /* fully on */
        z-index: 1;
        padding-top: 0;
        transform: scale(1);
    }

    &--is-visible {
        /*display: block; we'll make it a transition*/
        opacity: 1; /* fully on */
        z-index: 1;
        transform: scale(1);
    }
}
}